<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listado de propietarios</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Usuario</th>
				<th>Ultima Conexion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="propietario: ${propietarios}">
				<td th:text="${propietario.id}"></td>
				<td th:text="${propietario.nombre}"></td>
				<td th:text="${propietario.apellidos}"></td>
				<td th:text="${propietario.usuario}"></td>
				<td th:text="${propietario.lastConexion}"></td>
			</tr>
			
		</tbody>
	</table>
</body>
</html>